.copilot-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .copilot-charts-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
  }

  .copilot-pie-chart {
    width: 50%;
    height: 300px;
    text-align: center;
  }

  .title {
    padding-top: 50px;
  }
